/* whole page style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar 3 style  */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Stroke-Gap-Icons';
    /* background-color: aquamarine; */
    padding: 20px 20px;
    width: 100%;
    height: auto;
}

.navlogo {
    padding-left: 30px;
    width: auto;
    height: auto;
}

.dropbtn {
    text-decoration: none;
    color: #523a0f;
    /* height: auto; */
    padding: 40px 0px;

}

.navmenu a:hover {
    color: #3a2a0b;
    text-shadow: 0px 0px 1px #3a2b10;
}

.navmenu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 40px;
}

.navmenu2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: auto;
    font-family: Montserrat
}

.navmenu2 a,
i {
    font-size: 15px;
    text-decoration: none;
    color: #523a0f;
    font-weight: lighter;
}

.nav img {
    cursor: pointer;
}

/* nav menu dropdowns  */

.dropdown-content {
    position: absolute;
    top: 90px;
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0px 0px 5px 5px;
    display: none;
}

.dd1 {
    padding: 20px 60px 20px 10px;
    flex-direction: column;
}

.dd2 {
    padding: 20px 40px;
    left: 200px;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-align: left;
    font-family: 'Forum';
    font-weight: lighter;
}

.dropdown-content a:hover {
    color: #3a2a0b;
    text-shadow: 0px 0px 1px #3a2b10;
}

.dropbtn:hover+.dropdown-content {
    display: flex;
    flex-direction: row;
}

.dropbtn:hover+.dropdown-content .dd{
    display: flex;
    flex-direction: row;
}

.dropdown-content:hover {
    display: flex;
}

.bgimg img {
    width: 100%;
    height: auto;
}

/* menu bar and left side menu items */


.icon {
    text-decoration: none;
    color: #523a0f;
    font-weight: lighter;
    display: none;
    padding: 10px 0px;
}

.icon>i {
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 5px 20px;
}

.icon>i {
    font-size: 30px;
}

.icon i:hover {
    background-color: #bebebe;
}

.ls_menu {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 80px;
    background-color: #fff;
    width: 100%;
}

.ls_menu a {
    display: inline-block;
    padding: 20px 20px;
    background-color: #fff;
    width: fit-content;
}

.icon:hover +.ls_menu{
    display: flex;
    flex-direction: column;
}

.ls_menu:hover {
    display: flex;
    flex-direction: column;
}


/* responsive media queries */

@media only screen and (max-width:1240px) {

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
    }

    .icon {
        padding: 30px 20px;
    }

    .navmenu {
        display: none;
    }

    .icon {
        display: block;
    }

}